.page {
	display: flex;
	flex-direction: column;
	background-image: url('assets/back.webp');
	background-size: cover;
	background-repeat: no-repeat;
	margin: 0;
	height: 100vh;
}

.page__main {
	flex: 1;
}

.text-content__paragraph--highlight {
	color: hotpink;
}

.text-content__title {
	font-size: 60px;
	color: rgb(251, 190, 199);
	text-align: center;
}

.text-content__paragraph {
	font-size: 30px;
	color: white;
	text-align: center;
}

.nav__link {
	font-size: 20px;
	color: brown;
}

.header {
	background-color: rgba(78, 19, 78, 0.238);
	color: white;
	padding: 20px;
	text-align: center;
}

.footer {
	background-color: rgba(109, 10, 28, 0.463);
	color: white;
	padding: 1px;
	margin: 0;
	text-align: center;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 10px;
}

.nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: rgb(251, 190, 199);
	color: white;
	padding: 20px;
	border-radius: 10px;
}

.image-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
}

.image-container__img {
	width: 300px;
	height: auto;
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
}

.modal__content {
	background-color: black;
	margin: 5% auto;
	padding: 20px;
	border: 1px solid crimson;
	width: 90%;
	max-width: 600px;
	max-height: 90%;
	overflow: hidden;
	position: relative;
}

.modal__close-button {
	color: crimson;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.modal__close-button:hover,
.modal__close-button:focus {
	color: white;
	text-decoration: none;
	cursor: pointer;
}

.modal__image {
	width: 100%;
	height: auto;
	max-height: 80vh;
	object-fit: contain;
}

.modal__table {
	width: 100%;
	border-collapse: collapse;
	color: white;
}

.modal__table-header {
	padding: 20px;
	font-weight: bold;
	color: rgb(255, 255, 255);
	text-align: center;
	border-bottom: 1px solid crimson;
}

.modal__table-data {
	padding: 10px;
	text-align: left;
	border-bottom: 1px solid crimson;
}
